<html>
	<head>
		<title>Required Reading Archive</title>
		 <link rel="stylesheet" href="./assets/style.css"> 
	</head>
	<body>
		<div class="column">
			<img src="./assets/images/header.jpg" class="header">
			<table class="head-table">
				<tr>
					<td>
						<img src="./assets/images/avatar.jpg" class="avatar">
					</td>
					<td>
						<h1 class="page-title">Required Reading Archive</h1>
					</td>
				</tr>
			</table>
			<div class="front-matter">
				<p>
					This is a partial archive of the Twitter bot Required Reading, which ran from 2016 to 2024. It posted procedurally generated textbook titles, with names clipped from a corpus of public domain texts.
				</p>
				<p>
					Showing the last %QUANTITY% posts in reverse-chronological order.
				</p>
				
				<p>
				<div class="pinned">
					<p>
						Attention students!<br>
						The following textbooks will be required reading for the upcoming semester:
					</p>
				</div>
			</div>
			<div class="post-column">