<html>
	<head>
		<title>Required Reading Archive</title>
		 <link rel="stylesheet" href="./assets/style.css"> 
	</head>
	<body>
		<div class="column">
			<img src="./assets/images/header.jpg" class="header">
			<div class="front-matter">
				<h1 class="page-title">Required Reading Archive</h1>
				<p>
					This is a partial archive of the Twitter bot Required Reading, which ran from 2016 to 2024. It posted procedurally generated textbook titles, with names drawn from a corpus of public domain texts.
				</p>
				<p>
					This page shows the last 1000 posts in reverse-chronological order.
					<a href="">View by course instead</a>
				</p>
				<img src="./assets/images/avatar.jpg" class="avatar">
				<p>
				<div class="pinned">
					<p>
						Attention students!<br>
						The following textbooks will be required reading for the upcoming semester:
					</p>
				</div>
			</div>
			<div class="post-column">