body {
	font-size: 20px;
	background-color: #f7e8d5;
	color: #3b0902;
}

.column {
	margin: auto;
	width: 800px;
	background-color: #fff5eb;
	border: 1px solid #3b0902;
}

a {
	color: #b5170e;
}

/* HEADER */

img.header {
	width: 100%;
	height: 200px;
}

.front-matter {
	margin: 16px;
}

.head-table {
	margin: 16px 32px;
}

.head-table td {
	margin: 0;
}

img.avatar {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	display: block;
	border: 2px solid #e6c693;
}

.page-title {
	font-size: 60px;
	margin: 0;
	text-align: center;
}

.pinned {
	margin: 32px 0;
	padding: 1px 16px;
	background-color: #fff5eb;
	border: 2px solid #e6d0ac;
	border-radius: 24px;
	line-height: 140%;
}

/* POSTS */

.post-column {
	padding: 0 16px 16px;
	border-radius: 24px 24px 0 0;
}

.post {
	margin: 16px 0;
	padding: 16px;
	background-color: #fff5eb;
	line-height: 140%;

	border: 2px solid #e6d0ac;
	border-radius: 24px;
}

.post:first-child {
	margin: 0;
}

.post:last-child {
	margin: 0;
}

.timestamp {
	margin: 16px 0 0;
	font-size: 16px;
	line-height: 100%;
}

.course {
	font-weight: bold;
	font-size: 19px;
}

.title {
	font-style: italic;
	font-size: 22px;
}
